*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --headingbg: #50808e;
  --menubg: #f9fafc;
  --bodybg: linear-gradient(to right, #ffffff, #fafaf9);
  --sectionbg: #485763;
  --lighttext: #f9f9f9;
  --darkbg: #0b0425;
  --lightbg: #f4f8fe;
  --btncolor: #178e76;
  --list-item-container-color: #eef3f2;
  --addbtnncolor: #178e8c;
  --ui-buttons-signup: #50808e;
  --ui-buttons-login: rgb(38, 143, 150);
  --font-family: 'Open Sans', sans-serif;
  --deletebtn: #da627d;
  --renamebtn: #c3cbc4;
}

html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.description {
  font-size: 5em;
}

.lists {
  display: flex;
  justify-content: center;
}

.list-items {
  width: 80%;
}

.list-item-container {
  height: 60px;
  background-color: var(--list-item-container-color);
  margin-bottom: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgb(25 14 94 / 10%);
  border: 1px solid rgba(106, 181, 127, 0.2);
  color: rgb(109 132 127);
}

.list-item-container:hover {
  background-color: #178c8e;
  color: #f5f5ebe6;
}

.list-item {
  list-style-type: none;
  font-size: 0.97em;
  font-weight: 400;
}

.body-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto;
  gap: 0px 0px;
  grid-template-areas:
    'head head head head head head head head head head head head'
    'menu menu section section section section section section section section section section';
}

.heading {
  grid-area: head;
  background-color: var(--headingbg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--lighttext);
  font-size: 2em;
  text-decoration: none;
}

.description {
  color: var(--lighttext);
  font-size: 0.925em;
  margin-top: 3px;
  font-weight: 100;
}

.menu-container {
  height: 100%;
  grid-area: menu;
  background-color: var(--menubg);
  overflow: scroll;
  overflow-x: hidden;
}

.add-btn-container {
  margin: 10px 0px 10px 0px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-items {
  color: var(--lighttext);
  font-weight: 400;
}

.list-name {
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 600;
  padding: 10px;
}

.list-id {
  color: #c9d3cd;
}

.list-name:focus {
  background-color: #188f91;
}

.list-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 25px 0px 25px 0px;
}

.todo-item-container {
  width: 50ch;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(230, 225, 225, 0.1);
  height: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px 0px 25px;
}

.todo-item {
  list-style-type: none;
}

.todo-controls {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
}

.rename-list,
.delete-list-btn {
  box-shadow: 0 -1px 20px rgba(14, 101, 85, 0.4);
}

.delete-list-btn {
  width: 150px;
  height: 50px;
  background-color: var(--deletebtn);
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}

.rename-list {
  width: 150px;
  height: 50px;
  cursor: pointer;
  background-color: var(--renamebtn);
  border: 1px solid rgba(163, 171, 164, 0.4);
  border-radius: 6px;
  margin-right: 10px;
}

.main-content {
  grid-area: section;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: var(--bodybg);
}

.form-container {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 100%;
}

.text {
  font-size: 1.2em;
  font-weight: 400;
}

.section {
  min-width: 350px;
  width: 55%;
  background-color: var(--sectionbg);
  box-shadow: 0 -1px 20px rgba(14, 14, 101, 0.4);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 50px 0px;
  color: #ffffff;
}

.signupbtn,
.loginbtn {
  background-color: var(--ui-buttons-signup);
  color: var(--lighttext);
  width: 150px;
  height: 50px;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
  border: none;
  font-family: var(--font-family);
}

.loginbtn {
  background-color: var(--ui-buttons-login);
}

.signupbtn:hover,
.loginbtn:hover {
  background-color: #7661de;
}

.addBtn {
  background-color: var(--addbtnncolor);
  color: #ffffff;
  width: 175px;
  height: 60px;
  border-radius: 50px;
  border: none;
  box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: fixed;
  top: 128px;
  left: 60px;
  font-size: 0.86em;
  font-weight: 600;
  font-family: var(--font-family);
  z-index: 100;
}

.addBtn:hover {
  background-color: #1b9b82;
  color: #ffffff;
}

.addBtn i {
  padding: 5px;
}

.btnTrash {
  cursor: pointer;
}

.ctaBtn {
  display: flex;
  margin-top: 20px;
}

.ctaBtn a {
  text-decoration: none;
  color: var(--lighttext);
}

.signupform > *,
.authentification > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
}

input[type='submit'] {
  cursor: pointer;
}

input[type='text'],
input[type='password'],
input[type='email'] {
  border-radius: 50px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  background-color: #f2ecec;
  width: 75%;
  margin: 10px 0px 5px 0px;
  font-size: 1.1em;
  font-weight: 600;
  text-align: center;
  min-width: 50%;
  max-width: 60%;
  height: 55px;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus {
  outline: none;
  border: 2px solid rgba(85, 179, 135, 0.7);
}

input[type='text']:hover,
input[type='password']:hover,
input[type='email']:hover {
  background-color: #e4e6eb;
}

input[type='submit'] {
  border-radius: 50px;
  background-color: var(--btncolor);
  color: var(--lighttext);
  height: 50px;
  border: none;
  width: 400px;
  margin: 20px 0px 5px 0px;
  max-width: 200px;
  box-shadow: 0 4px 3px rgba(25, 14, 94, 0.2);
}

input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  position: relative;
}

input[type='checkbox']:checked {
  background-color: green;
}

.error {
  display: none;
}

.show {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: red;
}

.selected {
  font-weight: 700;
}

.save-list-name-btn {
  visibility: hidden;
  background-color: Transparent;
  width: 85px;
  height: 35px;
  border-radius: 6px;
  cursor: pointer;
  color: #ffffff;
  border: 2px solid #ffffff;
}

hr.horizontal-divider {
  border: 1px solid rgba(237, 232, 232, 0.1);
  width: 100%;
  margin: 15px;
}

.icon-lock {
  width: 150px;
  height: 150px;
  fill: #cfd0cf;
}

/* Button Bounce Animation START */
.bounce-top {
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

/* BUTTON BOUNCE ANIMATION END */

.add-todo-form-group {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-todo-form-group i {
  position: absolute;
  left: 74%;
  top: 42%;

  color: rgb(193, 191, 191);
}

.checkbox-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.custom-checkbox {
  display: block;
  width: 25px;
  height: 25px;
  background-color: #ddd;
  border-radius: 50px;
  position: relative;
  transition: background-color 0.4s;
  margin-right: 10px;
  cursor: pointer;
}

input[type='checkbox']:checked ~ .custom-checkbox {
  background-color: #08bb68;
}

input[type='checkbox']:checked ~ .custom-checkbox::after {
  opacity: 1;
}

.custom-checkbox::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 16px;
  border-right: 5px solid #ffffff;
  border-bottom: 5px solid #ffffff;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(40deg);
  opacity: 0;
  transition: all 0.2s;
}
