/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --headingbg: rgb(6, 28, 52);
  --menubg: #ffffff;
  --bodybg: #e0e4eb;
  --sectionbg: #ffffff;
  --lighttext: #f9f9f9;
  --darktext: rgb(152, 158, 156);
  --darkbg: #0b0425;
  --lightbg: #f4f8fe;
  --btncolor: rgb(16, 81, 160);
  --btnhovercolor: #178e76;
  --list-item-container-color: #eef1f4;
  --list-item-container-hover-color: #3b8079;
  --addbtnncolor: #0b9b75;
  --ui-buttons-signup: #50808e;
  --ui-buttons-login: rgb(38, 143, 150);
  --font-family: 'Nunito', sans-serif;
  --deletebtn: #b84444;
  --renamebtn: rgb(54, 120, 201);
}

html,
body {
  height: 100%;
  font-family: var(--font-family);
}

.description {
  font-size: 5em;
}

.signupbtn {
  text-decoration: underline;
  margin-top: 0.5em;
  font-size: 1em;
  font-weight: 600;
  color: rgb(8, 40, 74);
  cursor: pointer;
}

.signupbtn:hover {
  color: rgb(16, 110, 150);
}

.registration-prompt,
.login-prompt {
  color: rgba(74, 75, 75, 1);
  margin-top: 30px;
}

.term-agreement {
  color: rgb(54, 62, 62);
}

.lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.list-items {
  width: 80%;
}

.list-item-container {
  height: 60px;
  background-color: var(--list-item-container-color);
  margin-bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 4px rgb(25 14 94 / 10%);
  box-shadow: 0px 2px 4px rgb(25 14 94 / 10%);
  border: 1px solid rgba(106, 181, 127, 0.2);
  font-family: var(--font-family);
}

.list-item-container:hover {
  background-color: rgb(241, 244, 245);
  border: 2px solid rgba(16, 81, 160, 0.22);
}

.list-item-container.selected {
  background-color: rgb(16, 81, 160);
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.list-item-container.selected .list-item {
  color: rgb(240, 240, 240);
}

.list-item-container.selected:hover .list-item {
  color: rgb(240, 240, 240);
}

.list-item-container:hover .list-item {
  color: rgb(16, 81, 160);
}

.list-item {
  list-style-type: none;
  font-size: 0.97em;
  font-family: var(--font-family);
  font-weight: 600;
  color: var(--darktext);
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding: 1rem;
}

.body-wrapper {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr;
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 100px 0px auto;
  grid-template-rows: 100px auto;
  gap: 0px 0px;
  grid-template-areas:
    'head head head head head head head head head head head head'
    'section section section section section section section section section section section section';
}

.heading {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 23;
  grid-area: head;
  background-color: var(--headingbg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 12vh;
}

.logout-btn-container {
  grid-area: logout;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  width: 75px;
  height: 50px;
  border-radius: 6px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.logout-btn-container:hover {
  color: var(--btnhovercolor);
  border: 2px solid var(--btnhovercolor);
}

.logout-btn {
  padding: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.logout-btn:hover {
  color: rgba(246, 247, 246, 0.8);
}

.title {
  color: var(--lighttext);
  font-size: 1.9em;
  font-family: var(--font-family);
  font-weight: 700;
  text-decoration: none;
}

.description {
  color: var(--lighttext);
  font-size: 0.925em;
  margin-top: 3px;
  font-weight: 100;
}

.welcome-message {
  color: rgb(231, 235, 235);
  font-weight: 600;
  font-size: 1.1rem;
}

.menu-container {
  height: 100%;
  grid-area: menu;
  background-color: var(--menubg);
  overflow: scroll;
  overflow-x: hidden;
  display: block;
  visibility: hidden;
}

.add-btn-container {
  margin: 10px 0px 10px 0px;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.list-items {
  color: var(--lighttext);
}

.list-name {
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 600;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  color: #62656c;
}

.list-id {
  color: rgba(55, 65, 58, 0.4);
}

.list-name:focus {
  background-color: #186791;
  color: rgb(201, 203, 201);
}

.list-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 90%;
  margin: 20px 0px 20px 0px;
}

.todoaddicon {
  color: rgb(255, 255, 255);
}

.todo-item-container {
  width: 100%;
  border: 1px solid rgba(21, 35, 57, 0.1);
  background-color: rgba(231, 232, 238, 0.653);
  border-radius: 4px;
  height: 55px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 25px 0px 25px;
}

.todo-item {
  list-style-type: none;
  color: rgba(38, 41, 38, 0.92);
  font-weight: 600;
}

.todo-items {
  width: 75%;
}

.todo-controls {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 5%;
}

.todo-header {
  font-weight: 500;
  color: rgba(55, 65, 58, 0.8);
}

.no-todos-found-container {
  margin-top: 20px;
  border: 2px dashed rgb(233, 156, 156);
  background-color: rgb(245, 212, 212);
  padding: 10px;
  border-radius: 6px;
}

.no-todos-found-alert {
  color: rgb(247, 132, 132);
  text-align: center;
}

.rename-list,
.delete-list-btn {
  -webkit-box-shadow: 0 1px 10px rgba(74, 75, 75, 0.4);
  box-shadow: 0 1px 10px rgba(74, 75, 75, 0.4);
  width: 130px;
  height: 50px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.55);
  font-family: var(--font-family);
  font-size: 0.8em;
  font-weight: 400;
  color: #f0ebeb;
}

.delete-list-btn {
  background-color: var(--deletebtn);
}

.delete-list-btn:hover {
  background-color: #c95454;
}

.rename-list {
  background-color: var(--renamebtn);
  margin-right: 15px;
}

.rename-list:hover {
  background-color: rgb(66, 132, 213);
}

.main-content {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 23;
  grid-area: section;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--bodybg);
  height: 88vh;
}

.form-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

input[type='text'],
input[type='password'],
input[type='email'] {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 2px solid rgb(228, 226, 226);
  border-radius: 50px;
  background-color: #eceef2;
  color: rgb(54, 62, 62);
  font-size: 1.1em;
  font-weight: 600;
  text-align: center;
  min-width: 60%;
  max-width: 60%;
  height: 3.7rem;
  font-family: var(--font-family);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus {
  outline: none;
  border: 4px solid rgba(21, 184, 108, 0.6);
  -webkit-transition: all 0.16s ease-out;
  -o-transition: all 0.16s ease-out;
  transition: all 0.16s ease-out;
}

input[type='text']:hover,
input[type='password']:hover,
input[type='email']:hover {
  background-color: #e4e6eb;
}

input[type='submit'] {
  border-radius: 30px;
  background-color: var(--btncolor);
  color: var(--lighttext);
  height: 50px;
  border: none;
  width: 400px;
  margin-top: 40px;
  max-width: 200px;
  -webkit-box-shadow: 0 4px 3px rgba(25, 14, 94, 0.2);
  box-shadow: 0 4px 3px rgba(25, 14, 94, 0.2);
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: rgb(48, 112, 191);
}

input[type='checkbox'] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  position: relative;
}

input[type='checkbox']:checked {
  background-color: green;
}

input::-webkit-input-placeholder {
  font-weight: 400;
  color: rgba(124, 125, 125, 0.488);
}

input::-moz-placeholder {
  font-weight: 400;
  color: rgba(124, 125, 125, 0.488);
}

input:-ms-input-placeholder {
  font-weight: 400;
  color: rgba(124, 125, 125, 0.488);
}

input::-ms-input-placeholder {
  font-weight: 400;
  color: rgba(124, 125, 125, 0.488);
}

input::placeholder {
  font-weight: 400;
  color: rgba(124, 125, 125, 0.488);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

.new-list-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.login-form {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.todos-container {
  width: 90%;
  height: 90%;
  border: 2.5px solid rgba(243, 245, 243, 0.776);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px;
}

.todo-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.new-todo-input {
  margin-top: 1em;
  background-color: rgb(207, 216, 227) !important;
  border: 5px solid rgb(255, 255, 255) !important;
  -webkit-box-shadow: 0px 7px 30px rgba(32, 88, 148, 0.132);
  box-shadow: 0px 7px 30px rgba(32, 88, 148, 0.132);
  margin-bottom: 10px;
  height: 65px !important;
  color: rgb(49, 92, 165) !important;
  font-weight: 700 !important;
  -webkit-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

.new-todo-input:hover {
  border: 5px solid rgba(40, 107, 189, 0.749) !important;
  -webkit-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  cursor: pointer;
}

.new-todo-input:focus {
  background-color: rgb(44, 82, 123) !important;
  border: 5px solid rgb(68, 113, 167) !important;
  color: white !important;
  -webkit-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.new-todo-input:focus + div > i {
  color: rgb(255, 255, 255) !important;
  -webkit-transition: -webkit-transform 0.2s !important;
  transition: -webkit-transform 0.2s !important;
  -o-transition: transform 0.2s !important;
  transition: transform 0.2s !important;
  transition: transform 0.2s, -webkit-transform 0.2s !important;
}

.section-header {
  font-size: 1.2em;
  font-weight: 600;
  color: #0c4338;
  margin-bottom: 10px;
}

.section {
  min-width: 550px;
  width: 55%;
  margin-top: 4em;
  margin-bottom: 4em;
  background-color: var(--sectionbg);
  -webkit-box-shadow: 0 -1px 20px rgba(126, 126, 126, 0.2);
  box-shadow: 0 -1px 20px rgba(126, 126, 126, 0.2);
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 0px 50px 0px;
  color: #ffffff;
  position: relative;
}

.section.authentification {
  position: absolute;
  margin: auto;
  width: 45%;
}

.dashboard {
  background-color: rgb(16, 81, 160);
}

.top-right-nav {
  grid-area: toprightnav;
  background-color: var(--headingbg);
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 75px;
  padding-right: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 12vh;
  display: none;
}

.addBtn {
  background-color: var(--addbtnncolor);
  color: #ffffff;
  width: 175px;
  height: 60px;
  border-radius: 50px;
  border: none;
  -webkit-box-shadow: 0 0px 10px rgba(7, 50, 45, 0.5);
  box-shadow: 0 0px 10px rgba(7, 50, 45, 0.5);
  cursor: pointer;
  position: fixed;
  top: 128px;
  left: 60px;
  font-size: 0.86em;
  font-weight: 500;
  font-family: var(--font-family);
  z-index: 100;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  -o-transition: transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.addBtn:hover {
  background-color: #22b093;
  color: #ffffff;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.addBtn i {
  padding: 5px;
}

.btnTrash {
  color: rgb(49, 74, 65);
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.btnTrash:hover {
  color: rgb(16, 81, 160);
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.ctaBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.ctaBtn a {
  text-decoration: none;
  color: var(--lighttext);
}

.signupform > *,
.authentification > * {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 65%;
}

.form-label {
  margin-top: 0.5em;
  font-weight: 500;
  color: #333946;
}

.error {
  display: none;
}

.error.error-identified {
  color: rgb(254, 144, 144);
  display: block;
  margin: 5px 0px 5px 0px;
}

.save-list-name-btn {
  visibility: hidden;
  background-color: Transparent;
  width: 85px;
  height: 35px;
  border-radius: 6px;
  cursor: pointer;
  color: rgb(16, 81, 160);
  border: 2px solid rgb(16, 81, 160);
}

.horizontal-divider {
  border: 1px solid rgba(237, 232, 232, 0.5);
  width: 80%;
  margin: 15px;
}

.icon-lock {
  width: 150px;
  height: 150px;
  fill: #cfd0cf;
}

/* Button Bounce Animation START */
.bounce-top {
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

/* BUTTON BOUNCE ANIMATION END */

/* FADE IN ANIMATION start */

.fadein-animate {
  -webkit-animation: fadeInAnimation ease 0.4s;
  animation: fadeInAnimation ease 0.4s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    background-color: rgba(16, 110, 150, 0);
  }
  100% {
    background-color: rgb(46, 128, 191);
  }
}

@keyframes fadeInAnimation {
  0% {
    background-color: rgba(16, 110, 150, 0);
  }
  100% {
    background-color: rgb(46, 128, 191);
  }
}

/* FADE IN ANIMATION END */

animate__flipInX .animate__flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

.settings-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-self: center;
  justify-self: flex-end;
  grid-area: settings;
}
.add-todo-form-group {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.todoaddicon-container {
  position: absolute;
  -ms-flex-item-align: end;
  align-self: flex-end;
  right: 24%;
  margin: auto;
  background-color: rgba(14, 11, 11, 0.447);
  border-radius: 100px;
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 30px;
}

.custom-checkbox {
  display: block;
  width: 25px;
  height: 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  position: relative;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
  margin-right: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px rgba(14, 11, 11, 0.2);
  box-shadow: 0px 0px 5px rgba(14, 11, 11, 0.2);
}

input[type='checkbox']:checked ~ .custom-checkbox {
  background-color: #67bb94;
}

input[type='checkbox']:checked ~ .custom-checkbox::after {
  opacity: 1;
}

.custom-checkbox::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 16px;
  border-right: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  border-radius: 2px;
  top: 44%;
  left: 49%;
  -webkit-transform: translate(-50%, -50%) rotateZ(40deg);
  -ms-transform: translate(-50%, -50%) rotate(40deg);
  transform: translate(-50%, -50%) rotateZ(40deg);
  opacity: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.logo {
  margin-bottom: 15px;
  width: 5rem;
  height: 5rem;
}

.btn-settings {
  color: rgb(170, 172, 170);
  cursor: pointer;
  margin-right: 20px;
}

.btn-settings:hover {
  color: var(--btnhovercolor);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.todo-filters {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.filter {
  background-color: rgba(219, 220, 220, 0.2);
  font-family: var(--font-family);
  margin: 20px 5px 20px 5px;
  padding: 11px 20px 11px 20px;
  color: rgb(97, 97, 97);
  cursor: pointer;
  border: 2.5px solid rgb(232, 230, 230);
  border-radius: 50px;
}

.filter:hover {
  border: 2.5px solid rgb(74, 128, 194);
  -webkit-transition: all 0.66s;
  -o-transition: all 0.66s;
  transition: all 0.66s;
}

.filter:focus {
  outline: none;
}

.filter-selected {
  border: 2.5px solid rgb(109, 163, 228);
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.filter-selected:focus {
  border-radius: 50px;
}

.fa-filter {
  margin-left: 10px;
  color: #e0e0e0;
}

.round-icon-container {
  position: absolute;
  bottom: 270px;
  background-color: rgb(40, 107, 189);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1em;
  -webkit-box-shadow: 0 -1px 20px rgba(14, 11, 11, 0.2);
  box-shadow: 0 -1px 20px rgba(14, 11, 11, 0.2);
  border: 5px solid white;
}

.list-icon {
  font-size: 4em;
}

.filter-icon {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.submit-btn:hover {
  background-color: rgb(9, 143, 96);
  color: rgb(255, 255, 255);
}

.deletelist-confirmation-container {
  display: none;
}

.deletelist-confirmation-container.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-29%, -29%);
  -ms-transform: translate(-29%, -29%);
  transform: translate(-29%, -29%);
  width: 40%;
  height: 30%;
  background-color: rgb(8, 40, 74);
  -webkit-box-shadow: 0px 1px 40px rgba(8, 40, 74, 0.372);
  box-shadow: 0px 1px 40px rgba(8, 40, 74, 0.372);
  border-radius: 20px;
}

.delete-confirmation-buttons {
  margin-top: 20px;
  padding: 15px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-confirmation-buttons.confirm {
  background-color: rgb(16, 81, 160);
  border: none;
  color: rgba(246, 247, 246, 0.8);
  margin-right: 5px;
}

.delete-confirmation-buttons.cancel {
  background-color: rgb(234, 234, 235);
  border: none;
  color: rgb(8, 40, 74);
}

.blurred {
  -webkit-filter: blur(10px);
  filter: blur(10px);
  pointer-events: none;
  -webkit-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

.delete-confirmation-text {
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  font-size: 1.2em;
}

.delete-confirmation-warning {
  color: rgb(245, 142, 142);
}

.list-deleted-text {
  color: rgb(38, 143, 150);
}
