*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --headingbg: #260658;
  --menubg: #31066d;
  --bodybg: #ccc9f4;
  --sectionbg: #ece4fc;
  --lighttext: #f9f9f9;
  --darkbg: #0b0425;
  --lightbg: #f4f8fe;
  --btncolor: #331ab1;
  --list-item-container-color: #5337b6;
  --addbtnncolor: #ffcd2c;
  --ui-buttons-signup: rgb(73, 89, 211);
  --ui-buttons-login: rgb(82, 48, 182);
  --font-family: "Open Sans", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  font-family: --var(--font-family);
}

.description {
  font-size: 5em;
}

.lists {
  display: flex;
  justify-content: center;
}

.list-items {
  width: 80%;
}

.list-item-container {
  height: 60px;
  background-color: var(--list-item-container-color);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  color: rgba(190, 187, 245, 0.838);
  box-shadow: 0 4px 3px rgba(25, 14, 94, 0.2);
}

.list-item-container:hover {
  background-color: #6258d6;
  color: rgba(235, 240, 245, 0.9);
}

.list-item {
  list-style-type: none;
  font-size: 0.999em;
}

.body-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto;
  gap: 0px 0px;
  grid-template-areas:
    "head head head head head head head head head head head head"
    "menu menu section section section section section section section section section section";
}

.heading {
  grid-area: head;
  background-color: var(--headingbg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--lighttext);
  font-size: 2em;
}

.description {
  color: var(--lighttext);
  font-size: 0.925em;
  margin-top: 3px;
  font-weight: 100;
}

.menu-container {
  grid-area: menu;
  background-color: var(--menubg);
  overflow: scroll;
}

.add-btn-container {
  margin: 50px 10px 0px 20px;
}

.list-items {
  color: var(--lighttext);
  font-weight: 400;
}

.main-content {
  grid-area: section;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bodybg);
}

.section {
  min-width: 350px;
  width: 55%;
  height: 75%;
  padding: 25px;
  background-color: var(--sectionbg);
  box-shadow: 0 -1px 20px rgba(14, 56, 101, 0.1);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signupbtn,
.loginbtn {
  background-color: var(--ui-buttons-signup);
  color: var(--lighttext);
  width: 150px;
  height: 50px;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
  border: none;
  font-family: var(--font-family);
}

.loginbtn {
  background-color: var(--ui-buttons-login);
}

.signupbtn:hover,
.loginbtn:hover {
  background-color: #7661de;
}

.addBtn {
  background-color: var(--addbtnncolor);
  color: #4518cd;
  width: 150px;
  height: 60px;
  border-radius: 20px;
  margin: 20px 0px 20px 0px;
  border: none;
  box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.ctaBtn {
  display: flex;
  margin-top: 20px;
}

.ctaBtn a {
  text-decoration: none;
  color: var(--lighttext);
}

.signupform > *,
.authentification > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
}

input[type="submit"] {
  cursor: pointer;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  border-radius: 20px;
  height: 40px;
  border: 2px solid rgba(66, 74, 158, 0.2);
  width: 75%;
  margin: 10px 0px 5px 0px;
  font-weight: 600;
  text-align: center;
  min-width: 275px;
}

input[type="submit"] {
  border-radius: 20px;
  background-color: var(--btncolor);
  color: var(--lighttext);
  height: 43px;
  border: 1px solid #6266e3;
  width: 400px;
  margin: 20px 0px 5px 0px;
  max-width: 200px;
  box-shadow: 0 -1px 20px rgba(165, 154, 238, 0.8);
}

.error {
  display: none;
}

.show {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: red;
}

.selected {
  font-weight: 700;
}
